@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LoginVM

@{
    ViewData["Title"] = "Login";
}
<div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-3 card p-3">
            <h2 class="text-center">Zaloguj się</h2>
            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-2">
                    <label asp-for="username" class="control-label"></label>
                    <input asp-for="username" class="form-control" />
                    <span asp-validation-for="username" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label asp-for="password" class="control-label"></label>
                    <input asp-for="password" class="form-control"  />
                    <span asp-validation-for="password" class="text-danger"></span>
                </div>
                <div class="mb-2 form-check">
                    <label class="form-check-label">
                    <input asp-for="rememberMe" class="form-check-input" value="false"/> @Html.DisplayNameFor(a => a.rememberMe)
                    </label>
                </div>
                <div class="row">
                    <div class="col-8 mb-2">
                        <a asp-action="Register" class="text-decoration none float start mt-2">Nie masz konta?</a>
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </div>
            </form>
        </div>
</div>

                    @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
                    }